:root {
  --color-primary-dark: #f73859;
  --color-primary-light: #f8bbd0;
  --color-primary: #e91e63;
  --color-secondary-text: #757575;
  --color-primay-text: #212121;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #2cabee;
  --color-grey: #eee;
  --gradient-start: rgba(239, 0, 215, 1);
  --gradient-end: rgba(72, 0, 236, 1);

  --default-font-size: 1.6rem;
}
