:root {
  --color-primary-dark: #f73859;
  --color-primary-light: #f8bbd0;
  --color-primary: #e91e63;
  --color-secondary-text: #757575;
  --color-primay-text: #212121;

  --color-white: #fff;
  --color-black: #000;

  --default-font-size: 1.6rem;
}
