.timeline-edu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .timeline-container {
    background: #eee;
    padding: 7rem 3rem;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 30px;
    position: relative;
    top: -3rem;
    left: 5rem;
    margin: 0 7rem;
    height: 7rem;

    span {
      color: #b1ce;
      font-size: 1.2rem;
    }

    .tittle {
      //   color: var(--color-secondary-text);
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }

  p {
    color: var(--color-secondary-text);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  figure {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 8rem;
      background: cadetblue;
      top: 6rem;
      left: 3rem;
      @include respond(small-phone) {
        height: 8rem;
        background: cadetblue;
        top: 9rem;
        left: 3rem;
      }
    }
  }
}
