.service-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 6rem;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  [class^="service-"] {
    padding: 3rem;
  }
  .service-1 {
    background: #f97b8b;
    background: #6c6ce5;
  }
  .service-2 {
    background: #f97b8b;
  }
  .service-3 {
    background: #f9d74c;
  }
  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #f2f2ff;
    padding: 1rem;
  }
  p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
  }
}
