.section-about {
  margin: 15rem 0 13rem 0;
  position: relative;
}
.section-skill {
  margin: 0 0 10rem 0;
  position: relative;
}
.section-service {
  margin: 0 0 10rem 0;
  position: relative;
}
.section-education {
  margin: 10rem 0 10rem 0;
  position: relative;
}
