.menu-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;

  @include respond(tab-port) {
    display: block;
    z-index: 100;
  }

}
.menu-btn i.active:before {
  content: "\f00d";
}

.navigation {
  background: var(--color-primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding:2.5rem;
 z-index: 1000;
  @include respond(tab-port) {
   position:fixed;
  }
  &-list {
    list-style: none;
    font-weight: 400;
    margin: 0 3rem;
    @include respond(small-phone) {
      top: 6rem;
    }

    @include respond(tab-port) {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -120%;
      top: 8.5rem;
      background: var(--color-primary);
      text-align: center;
      padding-top: 2rem;
      transition: all 0.3s ease;
      margin: 0;
      padding: 3rem;
    }

    &.active {
      left: 0;
    }
  }

  &-item {
    display: inline-block;

    @include respond(tab-port) {
      display: block;
    }
  }

  &-link,
  &:link,
  &:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 3rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 230%;
    transition: all 0.4s;

    @include respond(tab-port) {
      margin: 1rem;
      font-size: 3rem;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: var(--color-secondary-text);
      transform: translateX(1rem);
    }
  }
}
